.TrafficLight{
    display: flex;
    flex-direction: column;
}

.TrafficLight .buld{
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.2;
}
.TrafficLight .buld.active{
    opacity: 1;
}
.buld.red{
    background: red;
}
.buld.orange{
    background: orange;
}
.buld.green{
    background: green;
}